<h2>{{post.title}}</h2>
<p>{{post.text}}</p>


<h3>Comments</h3>
<ul>
    {{#each post.comments}}
        <li>{{this.user_name}}: {{this.text}}</li>
    {{/each}}
</ul>

<h3>Add a Comment</h3>
<form id="comment-form" data-postId = "{{post.id}}">
    
    <label for="text">Comment:</label>
    <textarea id="text"  rows="4" required></textarea>
    
    <button type="submit" style="margin-top: 10px;">Submit Comment</button>
</form>
<script src="/js/comment.js"></script>